.dre {
  margin: 0 auto;
  max-width: 500px;
}

.my-class img{
  max-width:100%;
}

li.flex-active-slide{
  width: 100%!important;
  height: 23em;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Poppins';
  color: #272829;
}

a {
  color: #969C1F;
  text-decoration: none;
}
a:hover{
  color: #0000009e;
  text-decoration: none;
}
.overflow-part{
  overflow: hidden;
}
.font-primary{
  color: #969C1F;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 26px;
  font-family: 'Poppins';
}

li,p{
  font-size: 16px;
}

@media(max-width:768px){
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
    font-family: 'Poppins';
  }

  li,p{
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #969C1F;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  padding-bottom: 5px;
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
  background: #969C1F;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #969C1F;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }


  #main {
    margin-left: 0;
  }
}
@media (max-width: 1100px) {
 .breadcrumbs .d-flex{
    display: block!important;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  justify-content: flex-start;
  padding: 75px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #969C1F;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #969C1F;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/bg_img.jpg") bottom left;
  background-size: cover;
}

#hero:before {
  content: "";
  background-color: rgba(62, 57, 57, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}
.scroll-down{
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  color: #f1f1f1;
  position: absolute;
  bottom: 30px;
}

.scroll-down h5{margin-bottom: 6em;text-transform: capitalize;}

.scroll-down a:hover {
  color:#969C1F;
}

.scroll-down .box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scroll-down .box{
	position: absolute;
	top: 50%;
	left: 50%;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #969C1F;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 43px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 30px;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.section-title h2 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  color: #040b14;
}

.section-title h2::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background: #969C1F;
  margin: auto;

}

.hr-tag{
  margin-right: auto!important;
  margin-left: auto!important;
  border-color: #969C1F;
  width: 80px;
  border-width: 3px;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.btn {
  font-size: 16px;
  padding: 0.8rem 2.6rem;
  font-weight: 600;
  border-width: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #969C1F;
  border-color: #969C1F;
}

.btn:hover {
  -webkit-box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
  box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #969C1F;
  border-color: #969C1F;
}
.bg-text{
  text-transform: uppercase;
  color: #dee3e4;
  font-weight: 600;
  line-height: 1.3;
  font-size: 8.25rem;
  opacity: 0.4;
}

.btn-check:focus+.btn, .btn:focus{
  -webkit-box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
  box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #969C1F;
  border-color: #969C1F;
}

.sec-title{
  font-weight: 600 !important;
  font-size: 36px !important;
}

@media(max-width:768px){
  .bg-text{
    font-size: 6.25rem;
  }
}

@media(max-width:520px){
  .section-title{
    margin-bottom: 35px;
  }
  .bg-text{
    font-size: 6rem;
  }

}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.list-style-2 {
  padding: 0;
}
.list-style-2 li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  padding-top: 12px;
  padding-bottom: 12px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #040b14;
  margin-bottom: 1em;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #969C1F;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

/* Popup */

#overlay-p{
  text-align: center;
  position: fixed; 
  width: 100%; 
  height: 100%; 
  background-color: #00000080; 
  display: none;
  z-index: 9999;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
#overlayContent span{
  right: 19.5%;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  font-size: 1.5em;
  padding: 0.5em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


#overlayContent{
  display: flex;
  height: 775px;
  overflow-y: scroll;
  align-items: flex-start;
  justify-content: center;
}

.item img{
  cursor: zoom-in;
}

#imgBig{
  cursor: auto;
  width: 60%;

}

.popup-modal{
  border-radius: 7px;
  width: 80%;
  background: #fff;
  position: relative;
  margin: 0 auto;
  padding: 4em 2em;
}
.popup-ds{
  gap: 3%;
  display: grid;
  grid-template-columns: 48.5% 48.5%;
  align-items: start;
}
.popup-modal h1{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 25px;
  color: #272829;
  text-align: center;
  margin-bottom: 1em;
}
.img-gall img{
  object-position: top;
  object-fit: cover;
  height: 60em !important;
  width: 100%;
}
.popup-modal-dismiss{
  position: absolute;
  color: #000;
  font-size: 28px;
  padding-right: 10px;
  top: 0;
  cursor: pointer;
  right: 0;
}
.project-info,.project-detail{
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}
.project-detail{
  border-top: 1px solid #eaeaea;
  padding-top: 1em;
  margin-top: 2em;
}
.description-box p,.list-style-2 li{
  font-size: 16px;
}

/* End popup */

.main-portfolio{
  margin: 1em 0em;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 15px;
}
.hide-portfolio,#show-more{
  display: none;
}
.portfolio-btn-{
  margin-top: 7em;
}
.item-wrap {
  padding: 1em 0em;
}
.item-wrap img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}
.portfolio-more{
  
  border-radius: 60px;
  padding: 0.8rem 2.6rem;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  display: inline;
  margin-top: 2em;
  border: 1px solid #969C1F;
  background: transparent;
  color: #969C1F;
}
.portfolio-more:hover{
  box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
  color: #fff;
  background-color: #969C1F;
  border-color: #969C1F;

}
.item-wrap {
  position: relative;
}

.item-wrap img {
  display: block;
}

.overlay {
  position: absolute;
  top: 13px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25.5vh;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000a6;
  border-radius: 10px;
  padding: 20px;
}

.item-wrap:hover .overlay {
  opacity: 1;
  
}
.item-wrap:hover{
  transform: scale(1.05);
}
.overlay .link-icon{
  text-align: center;
  width: 100%;
  position: relative;
  top: 7%;
}
.overlay .link-icon i{
  color: #fff;
  font-size: 22px;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.portfolio-item-meta h5{    
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.portfolio-item-meta p{
  color:#fff;
}

@media(max-width:1500px){
  #overlayContent span{
    right: 19%;
  }
}
@media(max-width:1200px){
  #overlayContent{
    height: 561px;
  }
  #overlayContent span{
    right: 19%;
  }
  .main-portfolio{
    grid-template-columns: 32% 32% 32%;
  }
}

@media(max-width:968px){
  #overlayContent{
    height: 500px;
  }
  #overlayContent span{
    right: 18.5%;
  }
  .description-box p, .list-style-2 li {
    font-size: 14px;
}
  .description-box {
    margin-top: 3em;
}
  .img-gall img{
    height: 35em !important;
  }
  .popup-modal {
    height: 70em;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .popup-ds{
    grid-template-columns: 100%;
    gap: 0;
  }
  .main-portfolio{
    grid-template-columns: 48% 48%;
  }
}
@media(max-width:720px){
  .popup-modal {
    height: 60em;
  }
  #overlayContent{
    height: 500px;
  }
  #overlayContent span{
    right: 18%;
  }
}
@media(max-width:520px){
  .popup-modal {
    height: 50em;
  }
  #overlayContent span {
    right: 17.5%;
}
  #overlayContent{
    height: 450px;
  }
  .main-portfolio{
    grid-template-columns: 100%;
    gap: 0;
  }
}
@media(max-width:420px){
  .popup-modal {
    height: 40em;
  }
  #overlayContent span {
    right: 13%;
}
}
/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #969C1F;
  float: left;
  line-height: 0;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #040b14;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #040b14;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.progress [data-progress] {
  background: #dce8f8;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: flex;
  height: 15px;
  width: 100%;
}

[data-progress]::after {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  content: "" !important;
  color: #969C1F;
  background: #969C1F;
  width: 0;
  height: 100%;
  box-sizing: border-box;
  transition: 5s;
}

[data-progress].animate-progress::after {
  content: attr(data-progress) "%";
  width: var(--animate-progress);
}

.skills .progress {
  height: 60px;
  box-shadow: inset 0 0 0 rgb(0 0 0 / 10%);
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  font-size: 16px;
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: #040b14;
}
.skills ul {
  margin-top: 2em;
  list-style: none;
  padding: 0;
}

.skills ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}
.skills ul i {
  font-size: 16px;
  margin-right: 15px;
  color: #969C1F;
  line-height: 0;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.scroll-dow{
  padding-top: 5em;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}
.scroll-dow h5{
  text-transform: capitalize;
}
.scroll-dow a:hover {
  color: #969C1F;
}
.scroll-dow .box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.scroll-dow h5{
  padding-bottom: 1em;
}
.scroll-dow .box{
	transform: translate(50%, 0%);
}
.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 15px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #969C1F;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #969C1F;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #040b14;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #040b14;
  margin-bottom: 20px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #040b14;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact-details{
	text-transform:uppercase;
}
.contact-details .contact-category{
	margin-top:30px;
}
.contact-details .contact-category h4{
	font-size:25px;
}
.contact-details .contact-category .mail h2{
	font-size:40px;
  text-transform: capitalize;
}
.contact-details .contact-category .phone h5{
	font-size:30px;
  text-transform: capitalize;
}
.contact-details .contact-category .social a {
    font-size: 26px;
    color: #202020;
    border: 2px solid #202020;
    border-radius: 100%;
    height: 45px;
    width: 45px;
	margin: 10px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
	transition:.3s ease-in-out;
	-webkit-transition:.3s ease-in-out;
	-moz-transition:.3s ease-in-out;
}
.contact-details .contact-category .social a :hover{
    color:#969C1F;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .contact-details .contact-category{
    margin-top:25px;
  }
  .contact-details .contact-category h4{
    font-size:20px;
  }
  .contact-details .contact-category .mail h2{
    font-size:35px;
  }
  .contact-details .contact-category .phone h5{
    font-size:25px;
  }
  .contact-details .contact-category .social a {
      font-size: 20px;
  }
}
@media (max-width: 520px) {
  .contact-details .contact-category{
    margin-top:20px;
  }
  .contact-details .contact-category h4{
    font-size:15px;
  }
  .contact-details .contact-category .mail h2{
    font-size:18px;
  }
  .contact-details .contact-category .phone h5{
    font-size:16px;
  }
}
@media (max-width: 420px) {
  .contact-details .contact-category .mail h2{
    font-size:16px;
  }
  .contact-details .contact-category .phone h5{
    font-size:15px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 10px;
  background: #040b14;
}

.breadcrumbs h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 99;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}